<%= simple_form_for vital_parameter do |f| %>
  <div class="row">
    <div class="col-xs-3">
      <%= f.input :gender, priority: ["Female"], collection: ["Male", "Female"] %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <%= f.input :age, collection: 6..100, prompt: "Select your age", selected: 25 %>
    </div>
    <div class="col-xs-2">
      <label>centimeters</label>
      <%= f.input :height %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <label>kg</label>
      <%= f.input :weight %>
    </div>
    <div class="col-xs-2">
      <%= f.input :heart_rate %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <%= f.input :systolic_blood_pressure %>
    </div>
    <div class="col-xs-2">
      <%= f.input :diastolic_pressure %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <div class="box-footer">
        <%= f.button :submit, 'Submit', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
