<p>
  <label>Health info</label>
  <%= @vital_parameter.age %>
  <%= @vital_parameter.height %>
  <%= @vital_parameter.weight %>
  <%= @vital_parameter.heart_rate %>
  <%= @vital_parameter.systolic_blood_pressure %>
  <%= @vital_parameter.diastolic_pressure %>
</p>
<%= link_to 'All vital parameters', vital_parameters_path %>
